<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite">
  <listeners>
  	<listener class-name="SalesforceUtilities.SalesforceListenerUtility"/>
  </listeners>
  
  <test name="RegressionTest">
  	<parameter name="browserName" value="chrome"></parameter>
    <classes>
      <class name="SalesforceTestModules.SFLoginTCs"/>
      
   <!--   <class name="SalesforceAutomation.SFAccountsTCs"/>
      <class name="SalesforceAutomation.SFLeadsTCs"/>
      <class name="SalesforceAutomation.SFOppurtunitiesTCs"/> -->
      
     </classes>
  </test> <!-- RegressionTest -->
  
  
  <!--- <test name="RegressionTestFirefox">
  	<parameter name="browserName" value="firefox"></parameter>
    <classes>
      <class name="automationtests.AutomationScripts2"/>
    </classes>
  </test>   -->
  
  
</suite> <!-- RegressionSuite -->
